/*.background{
    -fx-border-width: 2;
    -fx-background-color:white;
    
}

.tile{
    -fx-background-color: rgb(255,250,245);
    -fx-border-color: rgb(230,230,230);
}
*/
.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-tab-min-height: 25px;
    -fx-background-color: rgb(255,250,245);
}
.data0.chart-pie { -fx-pie-color: rgb(240,96,123); }
.data1.chart-pie { -fx-pie-color: rgb(126,227,160); }
.data2.chart-pie { -fx-pie-color: rgb(230,230,230); }

.default-color0.chart-bar {
    -fx-bar-fill: rgb(240,96,123); 
    }


/*
 
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: none;
    -fx-border-color: rgb(200,200,200);
    -fx-border-radius: 5; 
}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
    -fx-border-color: none;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}*/

@font-face {
    font-family: 'Quicksand';
    src: url(Quicksand-Regular.ttf);
    /*font-size: 16;*/
}

.all{
    -fx-background-color: none;
    -fx-font-family:"Quicksand";
    
}

.date-picker{
    -fx-font-family:"Quicksand";
}